In [1]:
import pandas as pd 
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [2]:
df = pd.read_csv("language_detection_22langs_1000each_min.csv")

In [3]:
df.head()

  iso_639_1                                               text
0        ar  الطقس فضلك يقفز البني فضلك تحقق طالب الكسول مر...
1        ar  الطقس الكسول الكلب تحقق تحقق الطقس فوق تحقق ال...
2        ar              الكسول فوق السريع نص الطقس شارع تحقق…
3        ar                 فضلك بسيط تحقق النتيجة البني جميل.
4        ar  النتيجة تحقق جميل العالم العالم يقفز طالب طالب...